body {
    background-color: #f6fcff;
    background-image: url(../images/main_bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
}

.character {
    width: 100%;
    max-width: 360px;
    /* display: block; 이미지는 인라인 요소이기 때문에 가운데 정렬을 하기 위해 블럭 요소로 변경 */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}